.card {
  width: 480px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 1px solid black;
  padding: 1rem;
  background-color: var(--card-bg);
}

